.chatPage{
    background-color: #ffb300; 
    /*background-color: #03A062;  ===> metrix color*/
    width: 100vw;   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatContainer{
    background-color: #ece5dd;
    background-color: black ;
    width: 60%;   
    height: 70%;
}
.header{
    background-color: black;
    height: 15%;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;

}
.header>h2{
    margin: 1.5vmax;
    /* font-family: 'Freehand', cursive; */
    font-family: 'aboreto', cursive;
    /* font-family: 'Qwitcher Grypen', cursive;  */
    /* font-family: 'Combo', cursive; */
    text-shadow:
        0 0 7px #fff,
        0 0 5px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

}
.header>a>img{
    margin: 2.5vmax;
    transition: all 0.3s;   
    height: 2.5vmax;  
    /* filter: brightness(100) invert() contrast(200%); */
    
}
.header>img:hover{
    transform: scale(2);
    cursor: pointer;
}


.chatBox{
    /* border :0.2vmax solid black;  */
    height: 75%;
    box-sizing: border-box  ;
    /* overflow-y:auto ; */

}
.inputBox{
    /* border:0.2vmax solid black;  */
    box-sizing: border-box  ;
    height: 10%;
    display: flex;
}
#chatInput{
    background-color: #747171;
    border: none;
    color: white;
    padding: 1vmax;
    box-sizing: border-box;
    outline: none;
    width: 80%;
   
   
}
.sendBtn{
    background-color: black;
    border: none;
    outline: none;
    color: aliceblue;
    width: 21%;
    font-size: 1.5vmax;
    font-family: 'aboreto', cursive;
    
}
.sendBtn:hover{
    background-color: rgb(61, 61, 61);
    color: white;
    transition: all 0.3s;
    cursor: pointer;
}
.sendBtn>img{
    width: 3vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
}
.sendBtn:hover img{

    transform: translate(10px);
}
